{namespace search=Tx_PxaSearch_ViewHelpers}
<f:if condition="{result}">
	<div class="result {f:if(condition: result.image, then: 'hasImage')} {searchTag}">
		<div class="image">
		</div>
		<div class="resulttext">
			<h3><search:highlight highlight="{searchWord}" subject="{result.title}" /></h3>
			<p><search:highlight highlight="{searchWord}" subject="{result.implodedCategories}" /></p>
			<p class="description"><search:highlight highlight="{searchWord}" subject="{result.abstract}" /></p>
		</div>
		<div class="result-sidebar">
			<p><f:link.external target="_blank" uri="uploads/tx_idacaselib/{result.pdffile}">Get the case in pdf-format</f:link.external></p>
		</div>
	</div>
	<div style="clear: both;"></div>
</f:if>
