{namespace search=Tx_PxaSolr_ViewHelpers}
<f:if condition="{result}">
	<div class="result {f:if(condition: result.image, then: 'hasImage')} {searchTag}">
		<div class="pxasolr-image">
		<f:if condition="{result.image}">
			<f:link.page pageUid="{result.uid}" additionalParams="{result.cHashParams}"><f:image width="{settings.imageWidth}" height="{settings.imageHeight}" src="{result.image}" alt="{result.title}" /></f:link.page>
		</f:if>
		</div>
		<div class="resulttext">
			<h3><search:highlight highlight="{searchWord}" subject="{result.name_stringS}" /></h3>
			<p class="description">
        <f:if condition="{result.title_stringS}"><search:highlight highlight="{searchWord}" subject="{result.title_stringS}" /><br /></f:if>
        <f:if condition="{result.department_stringS}"><search:highlight highlight="{searchWord}" subject="{result.department_stringS}" /><br /></f:if>
        <f:if condition="{result.company_stringS}"><search:highlight highlight="{searchWord}" subject="{result.company_stringS}" /><br /></f:if>
        <f:if condition="{result.address_stringS}"><search:highlight highlight="{searchWord}" subject="{result.address_stringS}" /></f:if>
        <f:if condition="{result.zip_stringS}"><search:highlight highlight="{searchWord}" subject="{result.zip_stringS}" /></f:if>
        <f:if condition="{result.city_stringS}"><search:highlight highlight="{searchWord}" subject="{result.city_stringS}" /><br /></f:if>
      <!--  <f:if condition="{result.email_stringS}"><f:translate key="tx_solr_email" />: <f:link.email email="{result.email_stringS}" /><br /></f:if> -->
		<!-- Jonas E tagit remove label E-post -->
		<f:if condition="{result.email_stringS}"><f:link.email email="{result.email_stringS}" /><br /></f:if>
		
        <f:if condition="{result.telephone_stringS}"><f:translate key="tx_solr_telephone" />: <search:highlight highlight="{searchWord}" subject="{result.telephone_stringS}" /><br /></f:if>
        <f:if condition="{result.fax_stringS}"><f:translate key="tx_solr_fax" />: <search:highlight highlight="{searchWord}" subject="{result.fax_stringS}" /></f:if>
      </p>
		</div>
<!--		<div class="result-sidebar">
			<p><f:format.date format="{settings.formats.date}">{result.changed}</f:format.date></p>
		</div>-->
	</div>
	<div style="clear: both;"></div>
</f:if>
