<f:form.textfield size="{settings.quicksearch.input.size}" name="sword" value="{sword}" class="{settings.quicksearch.input.class} {f:if(condition: settings.suggestResults.enable, then : ' pxasolr_typeahead_qs', else: '')}" />
<f:if condition="{settings.quicksearch.submit.enabled} == 1">
	<f:form.submit value="{f:translate(key:'search')}" class="{settings.quicksearch.submit.class}" />
</f:if>
<f:render partial="Quicksearch/Hidden" arguments="{settings: settings, results: searchResults, searchTag: searchTag, searchWord: searchWord}" />