.ui-autocomplete { position: absolute; cursor: default; background: white; overflow: hidden; z-index:100 !important; }
.ui-autocomplete-loading { background: white; }

/* url(../../images/jquery-ui/ui-anim_basic_16x16.gif) right center no-repeat */

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	text-decoration: underline;
}



.resulttext > h3 {
  position: relative;
  top: -2px;
  margin-bottom: 6px;
  display: block;
}
.result.hasImage .description {
  padding-left: 90px;
}
.resulttext .description .read-more-result {
  display: block;
  margin-top: 7px;
}
.pagination > .info {
 margin: 10px 0;
}

.result-sidebar p {margin-bottom: 10px;}
.pxasolr-image {display: inline;}
.pxasolr-image a {
 float: left;
 padding-right: 15px;
 padding-bottom: 15px;
}
.pxasolr-image img {
  width: 75px;
  height: 75px;
}
.searchbox_start fieldset {display: inline-block;}
.dropdown-menu li {
  list-style: none !important;
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #61b427;
  background-image: -moz-linear-gradient(top,#66bc29,#5ba724);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#66bc29),to(#5ba724));
  background-image: -webkit-linear-gradient(top,#66bc29,#5ba724);
  background-image: -o-linear-gradient(top,#66bc29,#5ba724);
  background-image: linear-gradient(to bottom,#66bc29,#5ba724);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66bc29', endColorstr='#ff5aa724', GradientType=0);
  background-color: #61b427;
  background-image: -moz-linear-gradient(top,#66bc29,#5ba724);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#66bc29),to(#5ba724));
  background-image: -webkit-linear-gradient(top,#66bc29,#5ba724);
  background-image: -o-linear-gradient(top,#66bc29,#5ba724);
  background-image: linear-gradient(to bottom,#66bc29,#5ba724);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66bc29', endColorstr='#ff5aa724', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #black;
  background-image: -moz-linear-gradient(top,#66bc29,#5ba724);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#66bc29),to(#5ba724));
  background-image: -webkit-linear-gradient(top,#66bc29,#5ba724);
  background-image: -o-linear-gradient(top,#66bc29,#5ba724);
  background-image: linear-gradient(to bottom,#66bc29,#5ba724);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66bc29', endColorstr='#ff5aa724', GradientType=0);
  background-color: #61b427;
  background-image: -moz-linear-gradient(top,#66bc29,#5ba724);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#66bc29),to(#5ba724));
  background-image: -webkit-linear-gradient(top,#66bc29,#5ba724);
  background-image: -o-linear-gradient(top,#66bc29,#5ba724);
  background-image: linear-gradient(to bottom,#66bc29,#5ba724);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66bc29', endColorstr='#ff5aa724', GradientType=0);
}
.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.pagination {
  margin: 20px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *display: inline;
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span,
.pagination ul > li.ellipsis {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.search-result-container ul li {
  list-style: none;
}

/* Suggest results */
.search-form {
  position: relative;
}
#suggestResult {
  display: none;
  position: absolute;
  z-index: 20;
  min-width: 160px;
  padding: 5px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

#suggestResult a {
  text-decoration: none;
  display: block;
}
#suggestResult a.focused {
  background: red;
}
#suggestResult h1.focused {
  background: red;
}
#suggestResult .pxasolr-image img {
 float: left;
 padding-right: 15px;
 padding-bottom: 15px;
}